body{
    font-family: 'Bree Serif', serif;
    margin:0;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.widthhalf1{
 width:50%

}
.widthhalf1 img{
    width: 50%;
    margin-top: 10%;
    margin-left:12% ;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 30px;
    background-image: linear-gradient(rgb(71, 213, 231), rgb(178, 96, 255));
    box-shadow:10px 10px 40px  #474646;
  
}
.top-hexa{
    background-image: url(images/hexa3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
h1{
    font-family: 'Caveat', cursive;
    font-size: 60px;
}
h2{
    font-family: 'Bree Serif', serif;
    font-size: 40px;
}
.midelhexa{
    background-image: url(images/hexacover2.jpg);
     background-repeat: no-repeat;
    background-size:cover;
}
 .midelsecondpara{
     padding-left: 0%;
 }  
  .widthhalf2{ 
       width: 50%;
    margin-left:5% ;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 30px;
    box-shadow:10px 10px 40px  #474646;
  
 }
 .widthhalf2 img{
     border-radius: 30px;
 } 
 .widthhalf3{
        width: 500px;
        height: 410px;
    margin-left:5% ;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 30px;
    background-image: linear-gradient(#db69df,rgb(20, 233, 187));
    box-shadow:10px 10px 40px  #474646;
 } 
 .widthhalf3 img{
     width: 250px;
     height: 250px;
 }    
 .hexathird{
       background-image: url(images/cssgrident.jpg);
     background-repeat:no-repeat ;
      background-attachment: fixed;
       background-position: center; 
 }
 .announce{
  width: 900px;
  height: 100px;
  position: relative;
  animation: mymove 10s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 1349px;}
}
.announce h2{
 color: chocolate;
}
#price{
    color:crimson
}
.widthhalf4{
      width: 500px;
      height: 420px;
    margin-left:5% ;
    margin-right: 5%;
    padding-left: 20px;
    padding-top: 2px;
    border-radius: 30px;
     background-image: linear-gradient(#db69df,rgb(20, 233, 187));
    box-shadow:10px 10px 40px  #474646;
}
.widthhalf4 img{
    width: 250px;
    height: 250px;
    border-radius: 30px;
    padding-top: 10px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient(#406eebe5, rgb(189, 107, 236)) ;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
}
footer p{
    text-align: center;

}