body{
    font-family: 'Bree Serif', serif;
    margin:0;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.widthhalf1{
 width:50%

}
.widthhalf1 img{
    width: 50%;
    margin-top: 10%;
    margin-left:12% ;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 30px;
    box-shadow:10px 10px 40px  #474646;
  
}
.top-hexa{
    background-image: url(images/hexa3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    
}
h1{
    font-family: 'Caveat', cursive;
    font-size: 60px;
}
h2{
    font-family: 'Bree Serif', serif;
    font-size: 40px;
}
.midelhexa{
    background-image: url(images/hexacover2.jpg);
     background-repeat: no-repeat;
    background-size:cover;
}
 .midelsecondpara{
     padding-left: 0%;
 }  
  .widthhalf{ 
       width: 40%;
    margin-left:5% ;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 30px;
    box-shadow:10px 10px 40px  #474646;
  
 }
 .widthhalf img{
     border-radius: 30px;
 }     